<div class="bte-field bte-field-icon-set <%= data.isModified ? 'bte-field-modified' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
        </label>
        <% if (data.isModified) { %>
            <span class="bte-badge bte-badge-modified">Modified</span>
        <% } %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <div class="bte-icon-set-grid">
            <% _.each(data.iconSets, function(set) { %>
                <label class="bte-icon-set-option <%= set.active ? 'active' : '' %>">
                    <input
                        type="radio"
                        name="field-<%= data.sectionCode %>-<%= data.code %>"
                        value="<%= set.value %>"
                        class="bte-icon-set-input"
                        data-section="<%= data.sectionCode %>"
                        data-field="<%= data.code %>"
                        data-css-var="<%= data.cssVar %>"
                        data-type="icon_set_picker"
                        data-default="<%= data.default %>"
                        <%= set.checked ? 'checked' : '' %>
                        <%= data.required ? 'required' : '' %>
                    />
                    <div class="bte-icon-set-preview">
                        <% if (set.preview) { %>
                            <span class="bte-icon-sample"><%= set.preview %></span>
                        <% } else { %>
                            <span class="bte-icon-sample"><%= set.label.charAt(0) %></span>
                        <% } %>
                    </div>
                    <span class="bte-icon-set-label"><%= set.label %></span>
                    <% if (set.description) { %>
                        <small class="bte-icon-set-description"><%= set.description %></small>
                    <% } %>
                </label>
            <% }); %>
        </div>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
