<div class="bte-field bte-field-range <%= data.isModified ? 'bte-field-modified' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label" for="field-<%= data.sectionCode %>-<%= data.code %>">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
        </label>
        <% if (data.isModified) { %>
            <span class="bte-badge bte-badge-modified">Modified</span>
        <% } %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <div class="bte-range-wrapper">
            <input
                type="range"
                id="field-<%= data.sectionCode %>-<%= data.code %>"
                class="bte-range-slider"
                value="<%= data.value %>"
                min="<%= data.params && data.params.min !== undefined ? data.params.min : 0 %>"
                max="<%= data.params && data.params.max !== undefined ? data.params.max : 100 %>"
                step="<%= data.params && data.params.step || 1 %>"
                data-section="<%= data.sectionCode %>"
                data-field="<%= data.code %>"
                data-css-var="<%= data.cssVar %>"
                data-type="range"
                data-default="<%= data.default %>"
                <%= data.required ? 'required' : '' %>
            />
            <output class="bte-range-value">
                <%= data.value %><% if (data.params && data.params.unit) { %><%= data.params.unit %><% } %>
            </output>
        </div>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
