<div class="bte-field bte-field-select 
    <%= data.isModified ? 'bte-field-modified' : '' %> 
    <%= data.isDirty ? 'bte-field-dirty' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label" for="field-<%= data.sectionCode %>-<%= data.code %>">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
        </label>
        <%= data.badgesHtml %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <select
            id="field-<%= data.sectionCode %>-<%= data.code %>"
            class="bte-select"
            data-section="<%= data.sectionCode %>"
            data-field="<%= data.code %>"
            data-property="<%= data.property %>"
            data-type="select"
            data-default="<%= data.default %>"
            <%= data.required ? 'required' : '' %>
        >
            <% if (data.placeholder) { %>
                <option value="" disabled <%= !data.value ? 'selected' : '' %>>
                    <%= data.placeholder %>
                </option>
            <% } %>

            <% if (data.hasOptions) { %>
                <% _.each(data.options, function(option) { %>
                    <option
                        value="<%= option.value %>"
                        <%= String(option.value) === String(data.value) ? 'selected' : '' %>
                    >
                        <%= option.label %>
                    </option>
                <% }); %>
            <% } %>
        </select>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
