# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Composer
/vendor/
composer.lock

# Documentation (managed centrally in swissup.github.io)
CHANGELOG.md
ROADMAP.md
/docs/

# PHPUnit
.phpunit.result.cache
