<div class="bte-field bte-field-code 
    <%= data.isModified ? 'bte-field-modified' : '' %> 
    <%= data.isDirty ? 'bte-field-dirty' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label" for="field-<%= data.sectionCode %>-<%= data.code %>">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
            <% if (data.params && data.params.language) { %>
                <span class="bte-code-language"><%= data.params.language.toUpperCase() %></span>
            <% } %>
        </label>
        <%= data.badgesHtml %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <textarea
            id="field-<%= data.sectionCode %>-<%= data.code %>"
            class="bte-code-editor"
            rows="<%= (data.params && data.params.rows) || 10 %>"
            placeholder="<%= data.placeholder || '/* Your ' + ((data.params && data.params.language) || 'CSS') + ' code */' %>"
            data-section="<%= data.sectionCode %>"
            data-field="<%= data.code %>"
            data-css-var="<%= data.cssVar %>"
            data-type="code"
            data-default="<%= data.default %>"
            data-language="<%= (data.params && data.params.language) || 'css' %>"
            <%= data.required ? 'required' : '' %>
        ><%= data.value %></textarea>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
