<div class="bte-field bte-field-color 
    <%= data.isModified ? 'bte-field-modified' : '' %> 
    <%= data.isDirty ? 'bte-field-dirty' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label" for="field-<%= data.sectionCode %>-<%= data.code %>">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
        </label>
        <%= data.badgesHtml %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <div class="bte-color-picker-wrapper">
            <div class="bte-color-trigger" 
                 data-section="<%= data.sectionCode %>"
                 data-field="<%= data.code %>"
                 data-property="<%= data.property %>"
                 data-palette="<%= data.palette %>"
                 data-type="color"
                 data-default="<%= data.default %>"
                 <% if (data.format) { %>data-format="<%= data.format %>"<% } %>
                 <% if (data.paletteRef) { %>data-palette-ref="<%= data.paletteRef %>"<% } %>
                 <%= data.required ? 'data-required="true"' : '' %>>
                <div class="bte-color-preview" 
                     style="background-color: <%= data.hexValue || data.value %>;"></div>
            </div>
            <input
                type="text"
                class="bte-color-input"
                value="<%= data.hexValue || data.value %>"
                placeholder="<%= data.placeholder || '#000000' %>"
                pattern="<%= data.validation && data.validation.pattern || '^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$' %>"
                data-section="<%= data.sectionCode %>"
                data-field="<%= data.code %>"
                data-property="<%= data.property %>"
                data-default="<%= data.default %>"
                data-type="color"
                <% if (data.format) { %>data-format="<%= data.format %>"<% } %>
                <% if (data.paletteRef) { %>data-palette-ref="<%= data.paletteRef %>"<% } %>
            />
        </div>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
