<div class="bte-field bte-field-image-upload 
    <%= data.isModified ? 'bte-field-modified' : '' %> 
    <%= data.isDirty ? 'bte-field-dirty' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label" for="field-<%= data.sectionCode %>-<%= data.code %>">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
        </label>
        <%= data.badgesHtml %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <div class="bte-image-upload-wrapper">
            <% if (data.hasImage) { %>
                <div class="bte-image-preview">
                    <img src="<%= data.value %>" alt="<%= data.label %>" class="bte-preview-image" />
                    <button type="button" class="bte-button bte-button-secondary bte-image-remove" 
                        data-section="<%= data.sectionCode %>" 
                        data-field="<%= data.code %>">
                        Remove
                    </button>
                </div>
            <% } %>
            
            <div class="bte-image-upload-controls <%= data.hasImage ? 'bte-hidden' : '' %>">
                <input
                    type="file"
                    id="field-<%= data.sectionCode %>-<%= data.code %>-file"
                    class="bte-image-file-input"
                    accept="<%= data.acceptTypes %>"
                    data-section="<%= data.sectionCode %>"
                    data-field="<%= data.code %>"
                    data-max-size="<%= data.maxSize %>"
                    style="display: none;"
                />
                <button type="button" class="bte-button bte-button-primary bte-image-upload-trigger">
                    Choose Image
                </button>
                <div class="bte-image-upload-hint">
                    Accepts: <%= data.acceptTypes %>, Max size: <%= data.maxSize %>KB
                </div>
                
                <div class="bte-image-url-input-wrapper">
                    <span class="bte-or-divider">or</span>
                    <input
                        type="url"
                        class="bte-text-input bte-image-url-input"
                        placeholder="Enter image URL"
                        data-section="<%= data.sectionCode %>"
                        data-field="<%= data.code %>"
                    />
                </div>
            </div>

            <!-- Hidden input to store the actual value -->
            <input
                type="hidden"
                id="field-<%= data.sectionCode %>-<%= data.code %>"
                class="bte-image-value"
                value="<%= data.value %>"
                data-section="<%= data.sectionCode %>"
                data-field="<%= data.code %>"
                data-css-var="<%= data.cssVar %>"
                data-type="image_upload"
                data-default="<%= data.default %>"
                <%= data.required ? 'required' : '' %>
            />
        </div>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
