<div class="bte-field bte-field-toggle 
    <%= data.isModified ? 'bte-field-modified' : '' %> 
    <%= data.isDirty ? 'bte-field-dirty' : '' %>">
    <div class="bte-field-header">
        <label class="bte-field-label" for="field-<%= data.sectionCode %>-<%= data.code %>">
            <%= data.label %>
            <% if (data.required) { %>
                <span class="bte-required">*</span>
            <% } %>
        </label>
        <%= data.badgesHtml %>
    </div>

    <% if (data.description) { %>
        <div class="bte-field-description"><%= data.description %></div>
    <% } %>

    <div class="bte-field-control">
        <label class="bte-toggle-switch">
            <input
                type="checkbox"
                id="field-<%= data.sectionCode %>-<%= data.code %>"
                class="bte-toggle-input"
                data-section="<%= data.sectionCode %>"
                data-field="<%= data.code %>"
                data-property="<%= data.property %>"
                data-type="toggle"
                data-default="<%= data.default %>"
                <%= (data.value === 'true' || data.value === '1' || data.value === true) ? 'checked' : '' %>
                <%= data.required ? 'required' : '' %>
            />
            <span class="bte-toggle-slider"></span>
        </label>
    </div>

    <% if (data.helpText) { %>
        <div class="bte-field-help"><%= data.helpText %></div>
    <% } %>
</div>
