<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Swissup\BreezeThemeEditor\Api\AccessTokenInterface"
                type="Swissup\BreezeThemeEditor\Model\Data\AccessToken"/>

    <!-- Repository Preferences -->
    <preference for="Swissup\BreezeThemeEditor\Api\StatusRepositoryInterface"
                type="Swissup\BreezeThemeEditor\Model\StatusRepository"/>

    <preference for="Swissup\BreezeThemeEditor\Api\PublicationRepositoryInterface"
                type="Swissup\BreezeThemeEditor\Model\PublicationRepository"/>

    <preference for="Swissup\BreezeThemeEditor\Api\ChangelogRepositoryInterface"
                type="Swissup\BreezeThemeEditor\Model\ChangelogRepository"/>

    <!-- Value Repository -->
    <preference for="Swissup\BreezeThemeEditor\Api\ValueRepositoryInterface"
                type="Swissup\BreezeThemeEditor\Model\ValueRepository" />

    <!-- Value Search Results -->
    <preference for="Swissup\BreezeThemeEditor\Api\Data\ValueSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <!-- Value Interface -->
    <preference for="Swissup\BreezeThemeEditor\Api\Data\ValueInterface"
                type="Swissup\BreezeThemeEditor\Model\Value" />
</config>
