<div class="toolbar-devices">
<!--    <span class="devices-label"><%= data.label %></span>-->
    <% _.each(data.devices, function(device) { %>
        <button type="button"
            class="device-button <%= device.active ? 'active' : '' %>"
            data-device="<%= device.name %>"
            title="<%= device.title %>">
            <span class="device-icon">
                <img src="<%= device.icon %>"
                     alt="<%= device.title %>"
                     width="<%= device.width %>"
                     height="<%= device.height %>" />
            </span>
        </button>
    <% }); %>
</div>
