<div class="toolbar-selector toolbar-page-selector">
<!--    <span class="select-label-small"><%= data.label %>:</span>-->
    <button type="button" class="toolbar-select" data-toggle="dropdown">
        <span class="select-text"><%= data.currentPage %></span>
        <span class="select-arrow">
            <svg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.35355 2.64645L6.00003 0L6.70713 0.70711L3.35355 4.06062L0 0.70711L0.70711 0L3.35355 2.64645Z" fill="currentColor"></path>
            </svg>
        </span>
    </button>
    <div class="toolbar-dropdown">
        <div class="dropdown-header">
            <span><%= data.dropdownTitle %></span>
        </div>
        <div class="dropdown-content">
            <% _.each(data.pages, function(page) { %>
                <a href="<%= page.url %>"
                   class="dropdown-item <%= page.active ? 'active' : '' %>"
                   data-page-id="<%= page.id %>">
                    <span class="item-text"><%= page.title %></span>
                    <% if (page.active) { %>
                        <span class="item-check">✓</span>
                    <% } %>
                </a>
            <% }); %>
        </div>
    </div>
</div>
