<div class="toolbar-select-group">
    <button type="button" class="toolbar-select" id="version-selector">
        <span class="select-label"><%= data.label %></span>
        <% if (!data.published) { %>
            <span class="select-status not-published"><%= data.statusText %></span>
        <% } %>
        <span class="select-arrow"><svg width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.35355 2.64645L6.00003 0L6.70713 0.70711L3.35355 4.06062L0 0.70711L0.70711 0L3.35355 2.64645Z" fill="currentColor"/></svg></span>
    </button>
</div>
