//
// Breeze Theme Editor - Toolbar Right Section
// _____________________________________________

.breeze-theme-editor-toolbar {
    .toolbar-right {
        display: flex;
        align-items: center;
        gap: 15px;
        .toolbar-devices {
            .device-button {
                border: none;
                background: none;
                &.active {
                    border: none;
                    background: linear-gradient(143.03deg, #982CE5 -10.01%, #1D6799 135.82%);
                }
                //not active
                &:not(.active) {
                    opacity: 0.6;
                }
            }
        }
    }

    .toolbar-button {

        background: none;

        .bte-toolbar-button();
        text-decoration: none;

        &.toolbar-button-exit {
            .bte-toolbar-button(@bte-toolbar-exit-bg, @bte-toolbar-exit-bg-hover);
            border-color: #982CE5;
            border-width: 1px;
            font-weight: 400;
        }

        &.toolbar-button-toggle {
            .button-icon {
                transition: @bte-toolbar-transform-transition;
            }
        }

        &.active {
            .bte-toolbar-button(@bte-toolbar-active-bg, @bte-toolbar-active-bg-hover);
            border-color: @bte-toolbar-active-bg;
        }
    }

    .button-icon {
        font-size: 16px;
    }
}
