<?xml version="1.0"?>
<!--
/**
 * Copyright © Swissup. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--
        Set theme preview cookie when admin editor is accessed.
        
        This ensures the iframe displays the correct theme when:
        - Navigating between pages (page selector)
        - Switching store views (scope selector)
        - Clicking links within the iframe
        
        Magento uses the 'preview_theme' cookie to override store's default theme.
    -->
    <event name="controller_action_predispatch_breeze_editor_editor_index">
        <observer name="swissup_breeze_theme_editor_set_theme_preview_cookie" instance="Swissup\BreezeThemeEditor\Observer\SetThemePreviewCookie" />
    </event>
</config>
